<h1>Welcome!</h1>

<% @user = current_user %>
<% if @user.rentals.empty? %>
    <p>You do not have any rentals! </p>
<% elsif @user.rentals%>
    <h4>Current Rentals</h4>
      <ul>
        <% @user.rentals.each do |rental| %>
          <li>
          <%= link_to "#{rental.product.product_name} from #{rental.start_date} to #{rental.end_date}", rental.product %>
        </li>
      <% end %>
    </ul><br>
<% end %>