<% @user = current_user %>

<h1>Welcome, <%= @user.email%>!</h1>
<% if @user.rentals.empty? %>
    <p>You do not have any rentals! </p>
<% elsif @user.rentals%>
    <h4>Current Rentals</h4>
      <ul>
        <% @user.rentals.each do |rental| %>
          <li>
          <%= link_to "#{rental.product.name} from #{rental.start_date} to #{rental.end_date}", [rental] %>
        </li>
      <% end %>
    </ul><br>
<% end %>
