<p>
  <strong>Product name:</strong>
  <%= rental.product.product_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= rental.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= rental.end_date %>
</p>