<h1>Current rental</h1>

<%= render @rental %>

<div>
  <p>
    <%= link_to "Edit this rental", edit_rental_path(@rental) %>
  </p>

  <p> 
    <%= link_to 'Delete this rental', rental_path(@rental), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </p>

  <p> 
    <%= link_to 'Back to rentals', user_path(current_user.id) %>
  </p>
</div>
