<p>Dear <b><%= @rental.user.email %></b>, your rental period has expired, we hope you enjoyed using our service! We would be happy if you rated your experience.</p>
<p><%= link_to "Rental info", rental_url(@rental) %></p>
<p>Thank you for choosing our service!<p>