<p>Dear <b><%= @rental.user.email %></b>, your rental was confirmed by the owner. Rental info:</p>
<ul>
  <li>Rented product: <%= @rental.product.name %></li>
  <li>Rental starts: <%= @rental.start_date %></li>
  <li>Rental ends: <%= @rental.end_date %></li>
</ul>