<h1>Новый заказ на аренду</h1>
<p>Здравствуйте, <%= @rental.product.salon.owner.email %>!</p>
<p>У вас появился новый заказ на аренду:</p>
<ul>
  <li>Дата начала аренды: <%= @rental.start_date %></li>
  <li>Дата окончания аренды: <%= @rental.end_date %></li>
</ul>
<p>Для подтверждения заказа перейдите по ссылке:</p>
<p><%= link_to "Confirm rental", url_for(controller: 'rentals', action: 'confirm', rental_id: @rental.id, confirmation_token: @rental.confirmation_token) %></p>
