<h1>Editing salon</h1>

<%= render 'form', salon: @salon %>

<% if current_user&.owner? %>
  <%= link_to 'Add new product',  new_owner_salon_product_path(@salon) %>
  <%= link_to 'Destroy', owner_salon_path(@salon), class: "btn btn-danger",  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<% end %>

<div>
  <%= link_to "Back to salons", salons_path %>
</div>
