<div class="container mt-4">
  <h1 class="text-center mb-5 mt-2">Edit this product</h1>
  <%= render "form", product: @product %>

  <br>

  <div >
    <%= link_to "Show this product", @product, class: "btn btn-light" %> |
    <%= link_to "Back to products", products_path, class: "btn btn-light"%> |
    <%= link_to 'Destroy', admin_product_path(@product.id), class: "btn btn-danger",  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </div>
</div>
