<div class="container mt-4">
  <h1 class="text-center mb-5 mt-2">New product</h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Back to products", products_path, class: "btn btn-light" %>
  </div>
</div>
