<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Explore this category", category %>
    </p>
  <% end %>
</div>

