<h2>Подтвердите свой электронный адрес</h2>

<p>Добро пожаловать на сервис аренды праздничных нарядов, <%= @email %>! Перед тем, как начать пользоваться аккаунтом, мы просим вас подтвердить свой электронный адрес, перейдя по ссылке ниже</p>

<div><a class="button" href="<%= confirmation_url(@resource, confirmation_token: @token) %>">Подтвердить мой аккаунт</a></div>