<h2>Dear <%= @email %>, please confirm your email address</h2>

<p>Welcome to our dress rental service, <%= @email %>! Before you continue exploring our products, please, confirm your email address to activate your account by clicking the link below. Thank you very much!</p>

<div><a class="button" href="<%= confirmation_url(@resource, confirmation_token: @token) %>">Activate my account</a></div>