<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
     <% if current_user && current_user.admin? %>
     <p><%= link_to 'Edit',  edit_admin_product_path(product.id) %>  <%= link_to 'Destroy', admin_product_path(product.id) , data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
     <% end %>
  <% end %>
</div>

